
#PORT
PORT=6868

#CONFIG DATABASE
dialect='mssql'
IE_HOST='192.168.18.42'
IE_PORT=1433
IE_USERNAME='sa'
IE_PASSWORD='1234'
IE_DATABASE='IE'

# DESTINATION FOLDER
# UPLOAD_DESTINATION = './uploads'
UPLOAD_DESTINATION = '\\192.168.0.102\\cie\\videos'

# BASEPATH
BASEPATH = 'http://192.168.18.42:6868'





# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('3037bea3-2f3a-4682-a459-e9947e0d69f7', N'Truong Ngoc Xuyen', N'LVL13022', N'lvl123', N'LVL', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('159d0b90-201e-473f-bd1e-b0f2dd960e22', N'Tran Kim Thao', N'LVL30022', N'lvl123', N'LVL', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('9b842661-6893-417f-8938-75cbd7e68587', N'Tran Huynh Nhu', N'LVL80854', N'lvl123', N'LVL', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('f4318557-eba8-4f26-82d4-305839e66761', N'Dinh Thi My Chi', N'LVL101962', N'lvl123', N'LVL', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('da79fa6f-8706-458e-b354-f0bde238991b', N'Le Hoang Yen Nhi', N'LVL104199', N'lvl123', N'LVL', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('9aef6ba8-2897-4b7c-94fb-0bd6a725e264', N'Doan Thi Diem My', N'LVLB120228', N'lvl123', N'LVL', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('c9f961c0-99df-486e-af30-d041de46ce33', N'Nguyen Ngoc Anh', N'LVLB118959', N'lvl123', N'LVL', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)

# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('47fd1704-b98d-4976-9df1-7a6a4e3658c2', N'Thinzar Naing', N'LYM33781', N'lym123', N'LYM', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('c252fc68-9593-4c0a-8f3a-0dbe008c522e', N'Saw Moe Thet Oo', N'LYM40523', N'lym123', N'LYM', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('34d337c7-0294-484e-9b0d-6bbadfc093c2', N'Maw Zar Kyi', N'LYM08363', N'lym123', N'LYM', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('224d0add-2206-421d-bc83-b69600b8a6ec', N'Moe Myat Mon', N'LYM36741', N'lym123', N'LYM', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('68815147-7daa-45b6-ab7a-3644b784bdf4', N'Lay Khant Aung', N'LYM44603', N'lym123', N'LYM', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)

# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('97730463-6008-4967-a8af-e433c3dd8c71', N'KIM HENRY CARAGAY MANSILUNGAN', N'LYV34588', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('3e94c910-f557-480a-ba56-ac542a00a4e0', N'Le Quang Hieu Nghia', N'LYV33543', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('a4195c25-9e6a-4380-89d4-a82967cd51af', N'Nguyen Tran Hong Phuc', N'LYV33734', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('025759c1-d511-452a-ab6e-217e98b2de23', N'Nguyen Ngoc Kim Hieu', N'LYV34148', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('2e5c697e-24fb-4d96-bb75-4b8fe5ff33de', N'Van Thi Bao Han', N'LYV34171', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('82be1e26-732f-42d5-a456-f595a942c7fe', N'Lam Tuan Thanh', N'LYV34555', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('8ee0e38b-652c-4f51-92d7-0b566cc1b27d', N'Nguyen Kieu Ngoc Bich', N'LYV34788', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('9804a1ca-1a60-4fda-a8d6-18dcb37ca907', N'Pham Thi Duc Dung', N'LYV05963', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('2a2c5b6c-a6aa-4c33-a519-6d908ab072e6', N'Nguyen Thi Thu', N'LYV27477', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('b9770855-c640-4a25-87cb-0b6c30f04d31', N'Tran Thi Thanh Truc', N'LYV29195', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('65d1b74c-7730-4048-b8b4-9ceaa5de6b90', N'Do Thi Ai Nguyen', N'LYV29781', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('3513a872-f7a9-434f-9052-db156258e2f2', N'Do Thi Truc Linh', N'LYV30823', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('b15d619e-4a45-4401-af48-9019c6414c90', N'Pham Huynh My An', N'LYV30962', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('e6458346-faba-441d-ae89-0863fee6845a', N'Nguyen The Bao', N'LYV33340', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('e21bc2e7-ddf7-467b-9543-73b03ff8043a', N'Hoang Thi Kim Uyen', N'LYV33725', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('1ae77b90-62ba-45c3-9985-3b2cb7594211', N'Le Hoang Ky Anh', N'LYV34104', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('fecc2282-0f05-440b-b025-28137bee18e4', N'Lam Thi Mong Tuyen', N'LYV34156', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('ecd110c7-a3f6-465b-80c4-fc2332ee27e2', N'Le Thi Vui', N'LYV34736', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('22a8d8c1-5c5a-4f6b-a447-249c1185a49c', N'Nguyen Thi Thuy Dung', N'LYV34757', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
# INSERT [dbo].[IE_Account] ([Id], [Name], [UserID], [Password], [Factory], [Role], [Permission], [Active], [CreatedAt], [CreatedDate], [UpdatedAt], [UpdatedDate]) VALUES ('0e3c4fb5-1a81-4af6-ba59-ed5feaa084c6', N'Nguyen Thi Kieu My', N'LYV34797', N'lyv123', N'LYV', N'user', N'2', 1, N'admin', GETDATE(), NULL, NULL)
